/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

@font-face {
   font-family: 'DOB';
   src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
   
}
@font-face {
   font-family: 'CAC';
   src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
   
}
.top, .top a {
   background-color: #5f065f;
   color: white;
   opacity: 0.6;
   text-decoration: none;
}

#leftcol {
   background-color: black;
   color: white;
   
}
#leftcol h1{
   font-size: 50px;
   font-weight: normal;
}
#leftcol>h1{
   font-family: CAC;
}

#leftcol h1,p {
   
padding-left: 2%;
padding-right: 2%;

}

#leftcol a {
   color: #e89ccf; 
   text-decoration: none;
   
}

.notes {
   background-color: #e9967a;
 
}

.up {
   background-color: #f0e68c;

}

#rightcol {
   background-color: #4d064d;
   border-color: #f0e68c;
   
}

#rightcol h2{
   color:white;
   padding-left: 5%;
   font-family: CAC;
}

#rightcol a{
   color: #b0acac; 
   text-decoration: none;
}

#rightcol blockquote{

   color:rgb(150, 43, 160)

}

#rightcol li {
   list-style: none;
}

footer {
   background-color: #4b4c4d;
}
